<template>
  <div id="app" ref="document">
    <v-btn prepend-icon="mdi-file-download" variant="outlined" @click="exportToPDF">Скачать договор в PDF</v-btn>
    <hr>
 <div id="element-to-convert">
      
        <p style="padding-top: 30px;text-align: center;">
          <b>ДОГОВОР ПРОКАТА</b> №{{ documentData.docNumber }}
<br>
г. {{ documentData.docTown }}                            		                   	                 {{ documentData.todayDate }}г.
<br>
</p>

<p style="padding-left: 70px; padding-right: 30px; text-align: left;">
ФИО  {{ documentData.ownerFio }}, ИИН {{ documentData.ownerIin }}, именуемый в дальнейшем «Арендодатель», с одной стороны, и ФИО {{ documentData.tenantFio }}, ИИН {{ documentData.tenantIin }}, именуемый (-ая) в дальнейшем «Арендатор», с другой стороны, далее совместно именуемые «Стороны»,  заключили настоящий договор о нижеследующем:
<br>
<b>1. Предмет договора</b><br>
1.1. Арендодатель обязуется предоставить Арендатору за плату во временное владение и пользование следующее имущество:<br>
Наименование: {{ documentData.itemTitle }}<br>
Комплектность: {{ documentData.itemDesc }}<br>
Особые примечания: {{ documentData.extraConditions }}<br>
далее именуемое – «имущество»; <br>
1.2. Имущество, указанное в п.1.1 настоящего договора, право на заключение настоящего договора принадлежат Арендодателю.<br>
1.3. Оценочная стоимость имущества, предоставленного по настоящему Договору проката, составляет {{ documentData.dealCost }}Тенге.<br>
1.4. Имущество, предоставленное по настоящему Договору проката, будет использоваться Арендатором исключительно в потребительских целях.<br>
1.5. Состояние передаваемого имущества, степень износа и возможные недостатки имущества, при передаче его Арендатору фиксируются сторонами в п.1.1. настоящего Договора.<br>
<br><br>
<b>2. Сроки исполнения обязательств<br></b>
2.1. Указанное в п.1.1 настоящего договора имущество передается Арендатору в день подписания настоящего договора.<br>
2.2. Срок проката имущества по настоящему договору:<br>
- начало – {{ documentData.dealDateBegin }}г.; окончание – {{ documentData.dealDateEnd }}г.<br>

<b>3. Обязательства сторон<br></b>
3.1. Арендодатель обязан в присутствии Арендатора проверить состояние имущества, предоставленного Арендатору по настоящему договору, передать Арендатору имущество в день осуществления Арендатором обязательств по оплате арендной платы, в соответствии с п.4.1.1 настоящего договора.
<br>3.2. Арендатор обязан вернуть Арендодателю взятое напрокат имущество в том же состоянии, в котором оно находилось на момент его получения Арендатором.
<br>3.3. Передача имущества в прокат и возврат имущества Арендатором Арендодателю осуществляются по адресу: г. {{ documentData.dealAddress }} начиная с времени аренды.
<br>3.4. Арендатор обязуется не переделывать имущество или его отдельные детали без согласования с Арендодателем, в том числе не изменять внешний вид, не отдавать в ремонт, не сдавать в химчистку.
<br><br><br><br><br>3.5. При повреждении имущества Арендатором (вследствие нарушения Арендатором правил эксплуатации, содержания, пользования имущества) определяется сумма ремонта. Стоимость ремонта и транспортировка имущества для его ремонта вычитаются из суммы депозита. В случае превышения стоимости ремонта размеров депозита дополнительные расходы выплачиваются Арендатором. При этом ремонт имущества Арендодатель вправе осуществить как своими силами, так и с помощью специализированных мастерских по ремонту либо иных организаций, оказывающих соответствующие услуги.
<br>3.6. При обнаружении Арендатором неоговоренных сторонами недостатков предоставленного в прокат имущества, полностью или частично препятствующих пользованию им, Арендодатель обязан в десятидневный срок со дня заявления Арендатора о недостатках безвозмездно устранить недостатки имущества либо произвести замену данного имущества другим аналогичным имуществом, находящимся в надлежащем состоянии.
<br>3.7 Арендатор обязуется оплатить Арендодателю депозит (залоговую стоимость) за предоставленное в прокат имущество.
<br>3.8. Арендодатель обязуется возвратить Арендатору депозит по истечении срокам Аренды по возвращении имущества Арендодателю.
<br><br>
<b>4. Арендная плата и депозит<br></b>
4.1. За пользование имуществом, предоставленным в прокат по настоящему договору, Арендатор уплачивает Арендодателю арендную плату в размере {{ documentData.dealCost }} Тенге.<br>
4.2. Арендатор уплачивает Арендодателю депозит в размере {{ documentData.dealDepositCost }}Тенге.<br>
4.3. Оплата арендной платы и депозита осуществляется Арендатором в день подписания настоящего договора. Оплата осуществляется путем передачи наличных денежных средств Арендодателю.<br>
<br>4.4. В случае досрочного возврата имущества Арендатором, Арендодатель возвращает ему соответствующую часть полученной арендной платы, исчисляя ее со дня, следующего за днем фактического возврата имущества, в соответствии с суммой арендной платы, указанной в п.4.1 настоящего договора; при этом суммы за дополнительные услуги по доставке имущества Арендатору не возвращаются.
<br>4.5. В случае задержки Арендатором возврата имущества с него взимается плата за каждый просроченный день возврата имущества, в размере суммы арендной платы, указанной в п.4.1 настоящего договора за каждый день просрочки возврата имущества; Арендатор выплачивает Арендодателю вышеуказанную сумму в день возврата имущества Арендодателю. 
<br><br>
<b>5. Ответственность сторон<br></b>
5.1. Все споры или разногласия, возникающие между сторонами по настоящему договору или в связи с ним, разрешаются путем переговоров между сторонами.<br>
5.2. В случае невозможности разрешения разногласий путем переговоров они подлежат рассмотрению в суде в установленном законодательством порядке.<br>
<br><br><br><br><br><b>6. Прочие условия</b><br>
6.1. Любые изменения и дополнения к настоящему договору имеют силу только в том случае, если они оформлены в письменном виде и подписаны обеими сторонами.
<br>6.2. Арендодатель может требовать досрочного расторжения настоящего договора в следующих случаях: - если Арендатор пользуется имуществом не в соответствии с договором или назначением имущества; - если Арендатор умышленно или по неосторожности ухудшает состояние имущества.
<br>6.3. Сдача в субаренду имущества, предоставленного Арендатору по настоящему договору, передача им своих прав и обязанностей по нему другому лицу, предоставление этого имущества в безвозмездное пользование, залог арендных прав и внесение его в качестве имущественного вклада в хозяйственные товарищества и общества или паевого взноса в производственные кооперативы не допускаются.
<br>6.4. Настоящий договор составлен на двух листах, в двух экземплярах, имеющих одинаковую юридическую силу, по одному экземпляру для каждой из сторон.
<br><br>
<b>7. Реквизиты и подписи Сторон:<br></b>
Арендодатель:<br>
ФИО  {{ documentData.ownerFio }}<br>
ИИН {{ documentData.ownerIin }}<br>
Телефон {{ documentData.ownerPhone }}<br>
e-mail {{ documentData.ownerEmail }}<br>
<br>
_________/___________/	
<br><br>
Арендатор:<br>
ФИО {{ documentData.tenantFio }}<br>
ИИН {{ documentData.tenantIin }}<br>
Тел {{ documentData.tenantPhone }}<br>
e-mail {{ documentData.tenantEmail }}<br>
_________/___________/<br>
<br>



        </p>
    </div>
  </div>
</template>

<script>
import html2pdf from "html2pdf.js";
import axios from 'axios';

export default {
  data() {
    return {
      docId: this.$route.params.id,
      documentData: {},
    };
  },
  mounted() {
    this.docId = this.$route.params.id;
    this.fetchDocumentData();
  },
  methods: {
    fetchDocumentData() {
      const itemId = this.$route.params.id;
      console.log('??' + itemId);
      const getUri = `http://localhost:5174/bff/deal/generateDoc/?id=${itemId}`;
      axios.get(getUri)
        .then(response => {
          this.documentData = response.data.data;
        })
        .catch(error => {
          console.error('Error fetching document data:', error);
          window.alert('Ошибка генерации договора: ' + error.message); 
        });
    },
    exportToPDF() {
      html2pdf(document.getElementById("element-to-convert"), {
        margin: 1,
        filename: "berurent_doc.pdf",
      });
    }
  }
};
</script>

<style>
#app {
  margin-top: 20px;
  text-align: center;
}
</style>
